{% extends "template.html" %}

{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
{% endblock %}
{% block content %}
  <div id = "home">
    <h3 id = "locationName">{{info.Location}}</h3>
    <div id = "forecastInfo">
      <div class="container">
        <div class="row">
          <div class="infoFadeToday col-sm" align = "center">
            <b>Today</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[0]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[1] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[1]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[2] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[2]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[3] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[3]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[4] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[4]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[5] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[5]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[6] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[6]}}</b>
          </div>
        </div>
      </div>

      <br>
      {% for msg in get_flashed_messages() %}
        <b><p id = "errorMsg" align = "center">{{ msg }}</p></b>
      {% endfor %}

      <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.location.label }}
            {{ form.location(size=50) }}
            {% for error in form.location.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>

        {{ form.submit() }}
      </form>
      
    </div> 
  </div>
{% endblock %}